$usuallyfontweight: 800;
$defaulttextcolor: #000000;
$gradient: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@mixin df() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@mixin df2() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@mixin df3(){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body > *:not(footer){
    padding: 19px 200px 0 200px;
}
h1 {
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 900;
    width: 400px;
}
.header {
    @include df();
    padding-bottom: 18px;

    a {
        font-size: 21px;
        color: $defaulttextcolor;
        text-decoration: none;
        line-height: 14.63px;
        font-weight: 700;
        margin-right: 48px;
    }

    a:last-child {
        margin-right: 0;
    }

    &-div {
        @include df();
        gap: 8px;
        position: relative;
        .img{
            position: absolute;
        }
    }
}

.firstSection {
    padding-top: 176px;
    padding-bottom: 203px;

    &-title {
        @include df2();
        gap: 8px;

        p {
            opacity: 70%;
        }

        &-button {
            width: 300px;
            background-color: #E05124;
            padding: 12px 50px;
            font-size: 16px;
            color: white;
            border: none;
            font-weight: 900;
            -webkit-box-shadow: 0 8px 8px #E0512466;
                    box-shadow: 0 8px 8px #E0512466;
            margin-top: 24px;
            cursor: pointer;
        }
    }

    &-info {
        position: relative;
        margin: 203px 0 144px 0;
        background-color: white;
        -webkit-box-shadow: 0 16px 100px rgba(11, 11, 11, 0.582);
                box-shadow: 0 16px 100px rgba(11, 11, 11, 0.582);
        border-radius: 15px;
        z-index: 1;

        &-content {
            @include df2();
            gap: 19px;
            padding: 38px 24px;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
            width: 736px;

            h2 {
                font-size: 32px;
                font-weight: 800;
            }

            p {
                line-height: 19.5px;
                opacity: 70%;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 1000px;
            z-index: 2;
        }
    }
}

.plans {
    @include df2();
    gap: 8px;
    padding-bottom: 144px;

    &-cards {
        margin-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 16px;

        &-nth {
            -webkit-box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.2);
            background-color: white;
            border-radius: 16px;

            &-blocks {
                padding: 16px 32px;
                @include df3();
                .noIncludes {
                    color: rgba(224, 81, 36, 1);
                }

                .includes {
                    color: rgba(50, 135, 10, 1);
                }
            }

            &-blocks:nth-child(2n),
            p {
                background-color: #1F310354;
                -webkit-box-shadow: 0px 16px 100px 0px #1F310354;
                        box-shadow: 0px 16px 100px 0px #1F310354;
            }

            .content-container {
                @include df2();
                gap: 16px;
                margin-bottom: 32px;
                padding: 32px 32px 0px 32px;
            }

            &-title {
                font-size: 32px;
                line-height: 39.01px;
                text-align: center;
                font-weight: $usuallyfontweight;
            }

            .main-span {
                font-size: 14px;
                opacity: 70%;
            }

            p {
                position: relative;
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                color: #E05124;
                padding: 16px 0;
            }

            p:before {
                position: absolute;
                top: 20px;
                left: 175px;
                content: '$';
                font-size: 22px;
            }
        }

        &-nth:last-child {
            background: $gradient;
            color: white !important;
        }
    }
}

#diettypes {
    padding-bottom: 135px;

    &-h3 {
        opacity: 80%;
        font-size: 24px;
        line-height: 29.26px;
        font-weight: 700;
    }

    &-container {
        margin-top: 40px;
        @include df3();
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 16px 42px;
        width: 100%;
        .diettypes-container-card {
            background: $gradient;
            color: white;
            @include df3();
            padding: 0 0 0 32px;
            -webkit-box-shadow: 0px 20px 100px 0px rgba(33, 99, 10, 0.65);
                    box-shadow: 0px 20px 100px 0px rgba(33, 99, 10, 0.65);
            border-radius: 16px;
            width: 47%;

            &-content {
                @include df2();
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                h3 {
                    margin-bottom: 12px;
                    font-size: 22px;
                    font-weight: 800;
                    line-height: 26.82px;
                    text-align: left;
                }
            }
        }
    }
}

.table {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0.207);
    padding: 0 17px 17px 17px;
    margin: 0 200px;

    h2 {
        margin-top: 25px;
    }

    &-Container {
        margin-top: 25px;
        border: 1px solid rgba(0, 0, 0, 0.207);
        @include df2();
        min-height: 700px;

        &-setings {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.207);
            padding: 26px 147px 14px 16px;
            .active{
                color: rgba(60, 193, 59, 1);
            }
            .info{
                color: black;
            }
            .setingsP:nth-child(3) {
                margin-left: 105px;
            }
            .setingsP:nth-child(2){
                margin-left: 150px;
            }
            p {
                font-weight: 900;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.5)
            }

            .userName {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 8px;
                min-width: 170px;
                p,
                h3 {
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                }
                img{
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                }
            }
        }
        &-setings:last-child{
            border: none;
        }
    }
}
#footer{
    margin-top: 162px;
    padding: 40px 200px 40px 200px ;
    background: $gradient;
    color: white;
    @include df3();
    &-img{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        #footer-span{
            margin-left: 36px;
        }
        &-cont{
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .img2{
                position: absolute;
                top: 3px;
            }
            h4{
                margin-left: 8px;
                font-size: 18px;
            }
        }
    }
    nav{
        @include df3();
        gap: 40px;
        a{
            color: white;
            text-decoration: none;
            font-weight: 700;
        }
    }
}